# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ntishkev\OneDrive - Intel Corporation\Desktop\NT\WEB\Repos\Hello-World-NoamTish\Assignment10\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
